@page
@model WorkerDemo.Pages.Workflows.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Workflow</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Workflow.InstanceId)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Workflow.InstanceId)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Workflow.WorkflowDefinitionId)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Workflow.WorkflowDefinitionId)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Workflow.Version)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Workflow.Version)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Workflow.Description)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Workflow.Description)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Workflow.Reference)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Workflow.Reference)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Workflow.NextExecution)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Workflow.NextExecution)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Workflow.Data)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Workflow.Data)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Workflow.CreateTime)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Workflow.CreateTime)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Workflow.CompleteTime)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Workflow.CompleteTime)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Workflow.Status)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Workflow.Status)
        </dd>
    </dl>
</div>
<div>

@if (Model.Errors.Any())
{
    <h2>Errors</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Errors[0].ErrorTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Errors[0].Message)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Errors)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ErrorTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Message)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

    @if (Model.Workflow.Status == 1) // 1:suspended
    {
        <form method="post">
            <button class="btn btn-info"
                    asp-page-handler="Resume"
                    asp-route-instanceId="@Model.Workflow.InstanceId"
                    type="submit">
                Resume
            </button>
        </form>

    }

    <a asp-page="./Index">Back to List</a>
</div>

<input id="workflow_id" type="hidden" value="@Model.Workflow.InstanceId"/> <!-- damit ui die workflow id kennt -->
<div class="container">
    <div class="row p-1">
        <div class="col-1">User</div>
        <div class="col-5"><input type="text" id="userInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-1">Message</div>
        <div class="col-5"><input type="text" class="w-100" id="messageInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-6 text-end">
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <hr />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/workflow.js"></script>
