@page
@model WorkerDemo.Pages.Workflows.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>
    <form method="post" asp-page-handler="Cleanup" class="d-flex-row">
        <span>Workflows</span>
        <a class="btn btn-primary" href="demo">Start Demo Workflow</a>
        <button type="submit" class="btn btn-danger">Remove all finished</button>
    </form>
</h1>

<table class="table table-hover table-striped">
    <tr>
        <th class="col-sm-2">
            @Html.DisplayNameFor(model => model.Workflow[0].Status)
        </th>
        <th class="col-sm-6">
            @Html.DisplayNameFor(model => model.Workflow[0].InstanceId)
        </th>
        <th class="col-sm-2">
            @Html.DisplayNameFor(model => model.Workflow[0].CreateTime)
        </th>
        <th class="col-sm-2">
            @Html.DisplayNameFor(model => model.Workflow[0].CompleteTime)
        </th>
    </tr>
    @foreach (var item in Model.Workflow) {
        <tr class="row-link" onclick="window.location='./Workflows/Edit?id=@item.InstanceId';">
            <td>
                @await Html.PartialAsync("_WorkflowStatusPartial", item.Status)
            </td>
            <td>
                @Html.DisplayFor(m => item.WorkflowDefinitionId)
                @Html.DisplayFor(m => item.InstanceId)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.CreateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompleteTime)
            </td>
        </tr>
    }
</table>
