@page
@model WorkerDemo.Pages.Workflows.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Workflows</h1>
<p>
    <form method="post" asp-page-handler="Cleanup" class="d-flex-row">
        <a class="btn btn-primary" href="demo">Start Demo Workflow</a>
        <button type="submit" class="btn btn-danger">Remove all finished</button>
    </form>
</p>

<table class="table table-hover table-striped">
    <tr>
        <th class="col-sm-2">
            @Html.DisplayNameFor(model => model.Workflow[0].Status)
        </th>
        <th class="col-sm-6">
            @Html.DisplayNameFor(model => model.Workflow[0].InstanceId)
        </th>
        <th class="col-sm-2">
            @Html.DisplayNameFor(model => model.Workflow[0].CreateTime)
        </th>
        <th class="col-sm-2">
            @Html.DisplayNameFor(model => model.Workflow[0].CompleteTime)
        </th>
    </tr>
    @foreach (var item in Model.Workflow)
    {
        <tr class="wwf-row-link" onclick="window.location='./Workflows/Edit?id=@item.InstanceId';">
            <td>
                @await Html.PartialAsync("_WorkflowStatusPartial", item.Status)
            </td>
            <td>
                <span class="wwf-definition">@Html.DisplayFor(m => item.WorkflowDefinitionId)</span>
                <span class="wwf-instance">@Html.DisplayFor(m => item.InstanceId)</span>
            </td>
            <td>
                <span class="wwf-timestamp">
                    @Html.DisplayFor(modelItem => item.CreateTime)
                </span>
            </td>
            <td>
                <span class="wwf-timestamp">
                    @Html.DisplayFor(modelItem => item.CompleteTime)
                </span>
            </td>
        </tr>
    }
</table>
