@page
@model WorkerDemo.Pages.Workflows.IndexModel

@{
    ViewData["Title"] = "Workflows";
}

<h1>Workflows</h1>
<p>
    <form method="post" asp-page-handler="Cleanup" class="d-flex-row">
        <a class="btn btn-primary" href="demo">Start Demo Workflow</a>
        <button type="submit" class="btn btn-danger">Remove all finished</button>
    </form>
</p>

<table class="table table-hover table-striped">
    <tr>
        <th class="col-sm-1">
            @Html.DisplayNameFor(model => model.Workflows[0].Status)
        </th>
        <th class="col-sm-2">
            @Html.DisplayNameFor(model => model.Workflows[0].WorkflowDefinitionId)
        </th>
        <th class="col-sm-2">
            @Html.DisplayNameFor(model => model.Workflows[0].Reference)
        </th>
        <th class="col-sm-2">
            @Html.DisplayNameFor(model => model.Workflows[0].CreateTime)
        </th>
        <th class="col-sm-2">
            @Html.DisplayNameFor(model => model.Workflows[0].CompleteTime)
        </th>
    </tr>
    @foreach (var item in Model.Workflows)
    {
        <tr class="wwf-row-link" onclick="window.location='./Workflows/Edit?id=@item.Id';">
            <td>
                @await Html.PartialAsync("_WorkflowStatusPartial", (int)item.Status)
            </td>
            <td>
                <span class="wwf-definition">@Html.DisplayFor(m => item.WorkflowDefinitionId)</span>
            </td>
            <td>
                <span class="wwf-definition">@Html.DisplayFor(m => item.Reference)</span>
            </td>
            <td>
                <span class="wwf-timestamp">
                    @Html.DisplayFor(modelItem => item.CreateTime)
                </span>
            </td>
            <td>
                <span class="wwf-timestamp">
                    @Html.DisplayFor(modelItem => item.CompleteTime)
                </span>
            </td>
        </tr>
    }
</table>
