@page
@model WorkerDemo.Pages.Workflows.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Workflows</h1>

<p>
    <a class="btn btn-info" href="demo">Start Demo Workflow</a>
    <form method="post" asp-page-handler="Cleanup">
        <button type="submit" class="btn btn-warning">Remove all finished</button>
    </form>
</p>

<table class="table table-hover">
    <tr>
        <th class="col-sm-2">
            @Html.DisplayNameFor(model => model.Workflow[0].WorkflowDefinitionId)
        </th>
        <th class="col-sm-2">
            @Html.DisplayNameFor(model => model.Workflow[0].Status)
        </th>
        <th class="col-sm-4">
            @Html.DisplayNameFor(model => model.Workflow[0].InstanceId)
        </th>
        <th class="col-sm-2">
            @Html.DisplayNameFor(model => model.Workflow[0].CreateTime)
        </th>
        <th class="col-sm-2">
            @Html.DisplayNameFor(model => model.Workflow[0].CompleteTime)
        </th>
    </tr>
    @foreach (var item in Model.Workflow) {
        <tr class="row-link" onclick="window.location='./Workflows/Edit?id=@item.InstanceId';">
            <td>
                @Html.DisplayFor(modelItem => item.WorkflowDefinitionId)
            </td>
            <td>
                @await Html.PartialAsync("_WorkflowStatusPartial", item.Status)
            </td>
            <td>
                <small class="text-muted">
                @Html.DisplayFor(modelItem => item.InstanceId)
                </small>

            </td>
             <td>
                @Html.DisplayFor(modelItem => item.CreateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompleteTime)
            </td>
        </tr>
    }
</table>
